In [1]:
# file handelimg
# regular expression
# oops concept
# error handeling
#lambda function

In [2]:
import os 
os.getcwd()

'C:\\Users\\HP'

In [3]:
os.chdir('C:\\Users\\HP\\Desktop\\PYTHON AND DATA SCIENCE - Copy')

In [4]:
file = open ('Edureka.txt', 'w')
file.write('edureka we help students to grow technically')
file.write('\nwe are here to provide the quality education')
file.write('\n Our headquarters is in bangluru ,india')
print('data written successfully')
file .close()

data written successfully

In [5]:
file = open ('Edureka.txt', 'a')
file. write('\nwe are expanding our education network across the globe')
print ('Data written succesfully')
file.close()

Data written succesfully

In [6]:
file = open ('Edureka.txt','w')
list = ['My name is rahul tiwari\n', 'I am working with Edureka and helping students to learn latest technologies']
file.writelines (list)
print('list written successfully')
file.close()

list written successfully

In [7]:
file = open ('Edureka.txt' ,'r')
call = file. read ()
print(call)
file. close()

My name is rahul tiwari
I am working with Edureka and helping students to learn latest technologies

In [8]:
file = open('Edureka.txt','r')
call = file. read (16)
print(call)
file.close()

My name is rahul

In [9]:
os. remove ('Edureka.txt')

In [10]:
if os.path .exists('Edureka.txt'):
    os.remove('Edureka.txt')
    print('The file is deleted succesfully')
else:
    print('The file does not exits')

The file does not exits

In [11]:
file = open('Edureka.txt','w')
file.write (input('Enter your name:'))
file.write('\n')
file. write(input('\n Enter your age:'))
file. write (input('\n Enter your marks:'))
print('Data written  succesfully')
file. close()

Enter your name:rakshit

 Enter your age:24

 Enter your marks:77
Data written  succesfully

In [12]:
# Exceptional handling

In [13]:
result = None
x = int(input('Number 1: '))
y = int(input('Number 2: '))
print(result)
result = x/y
print('----New line----')
print('Result= ',result)

Number 1: 5
Number 2: 6
None
----New line----
Result=  0.8333333333333334

In [ ]:
try:
    result = None
    x = int(input('Number 1:'))
    y = int(input('Number 2:'))
    result = x/y
except Exeception as e:
    print(type(e))
print('----New line----')
print('Result = ',result)

In [ ]:
# Lamda function

In [ ]:
def ctof(c):
    f = 9/5*c+32
    return f

In [ ]:
ctof(32)

In [ ]:
ctof_lam(32)

In [ ]:
def multiply (x,y):
    z=x*y
    return

In [ ]:
multiply (10,10)

In [ ]:
def power (x,y):
    z=x**y
    return z

In [ ]:
power (2,3)

In [ ]:
power_lam = lambda x,y:x**y

In [ ]:
power_lam(2,3)

In [ ]:
#map and lambda

In [ ]:
some_num = [2,4,6,8]

In [ ]:
double = map(lambda x : x+x, some_num)

In [ ]:
tuple (double)

In [ ]:
string = ['my','pythyon']
cap = map(lambda x: str.upper(x),string)

In [ ]:
tuple(cap)

In [ ]:
attendence = [34, 33, 32, 21, 24, 33]

In [ ]:
tuple (filter(lambda x: x>=33,attendence))

In [ ]:
countries = ['india', 'us', 'uk', 'uAF']

In [ ]:
tuple(filter(lambda x : len (x)>3,countries))

In [ ]:
#regular concept

In [ ]:
import re

In [ ]:
nameage = ''' janice is 22 and thron is 33
gabrial is 44 and joey is 21'''

In [ ]:
ages = re.findall()

In [ ]:
list = [21,43,33,23,22,34,33,43,33,23,55,43,22]

In [ ]:
def remove(series,num):
    for i in series:
        if i == num:
            del(i)
            
        else:
            print(i)

In [ ]:
remove([21,43,33,23,22,34,33,43,33,23,55,43,22],43)